<!DOCTYPE html>
<html>
  <head>
    <title>Tienda en línea de óptica</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        var isUserLoggedIn = <%- JSON.stringify(isUserLoggedIn) %>;
        var usuario = <%- JSON.stringify(session.usuario || {}) %>;
        // Check if the user session exists
        if (isUserLoggedIn) {
          if (usuario.tipo_usuario == "Admin") {
            $("#admin-link").show();
          } else {
            $("#admin-link").hide();
          }
        }

        // Logout functionality
        $("#logout-link").on("click", function (e) {
          e.preventDefault();

          // Redirect to the logout route
          window.location.href = "/logout";
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h2 class="header-title">Tienda en línea de óptica</h2>
      <nav>
        <ul>
          <li><a class="header-text" href="/">Inicio</a></li>
          <li><a class="header-text" href="/productos">Productos</a></li>
          <% if (isUserLoggedIn) { %>
          <li id="logout-link">
            <a class="header-text" href="#">Cerrar sesión</a>
          </li>
          <li id="admin-link" style="display: none">
            <a class="header-text" href="/admin">Administrar</a>
          </li>
          <li id="carrito-link">
            <a class="header-text" href="/carrito">Carrito de compras</a>
          </li>
          <li id="profile-link">
            <a class="header-text" href="/perfil">Perfil</a>
          </li>
          <li><a class="header-text" href="/recetas">Recetas</a></li>
          <% } else { %>
          <li id="login-link">
            <a class="header-text" href="/login">Iniciar sesión</a>
          </li>
          <li id="register-link">
            <a class="header-text" href="/registro">Registrar</a>
          </li>
          <% } %>

          <form action="/productos/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar..." required />
            <input type="submit" value="Buscar" />
          </form>
        </ul>
      </nav>
    </header>
  </body>
</html>
