/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.side-content {
    width: 2000px;
    margin-left: 1600px;
  }

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

h1 {
  margin: 0;
display: block;
}
h2 {
  margin: 0;
display: block;
margin-left: 700px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
margin-left: 50px;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.product:last-child {
  margin-right: 0;
}

.product img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #555;
}

/* Formulario de inicio de sesión */

.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 
}  
/* Formulario de Registro */

.registration-form{
max-width: 500px;
margin: 0 auto;
}

.registration-form label {
display: block;
margin-bottom: 10px;
}

.registration-form input {
display: block;
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 20px;
}

.registration-form button[type="submit"] {
background-color: #333;
color: #fff;
padding: 10px 
}  

/* Apartado Index */

.index-form{
max-width: 500px;
margin: 0 auto;
}

.index-form label {
display: block;
margin-bottom: 10px;
}

.index-form input {
display: block;
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 20px;
}

.index-form button[type="submit"] {
background-color: #333;
color: #fff;
padding: 10px 
}  

.gallery {
  text-align: center;
}

.gallery__thumnails {
  margin-top: 20px;
}

.gallery__thumnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid transparent;
}

.gallery__thumnail:hover {
  border-color: #333;
}

.product img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
  height: 200px; /* Puedes ajustar esta altura según tus necesidades */
}