<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="content">
        <div class="registration-form">
          <form action="#" method="post">
            <h1 for="username">Nombre de usuario:</h1>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
